body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://blog.ciss.com.br/wp-content/uploads/2020/06/blog-cisslive-layout-de-supermercado.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.container {
    width: 700px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(255,255,255,0.6);
    text-align: center;
}

h1 {
    font-size: 42px;
    color: blue;
    margin-bottom: 20px;
}

#lista {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

#inputItem {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #aaa;
    font-size: 16px;
}

 #itens {
    flex: 1;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #aaa;
    font-size: 16px;
}

.add {
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
}

.add:hover {
    background-color: rgb(0, 0, 180);
}

#compras {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.listaItem {
    background-color: white;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 16px;
}

.listaItem span {
    flex: 1;
}

.edit {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
}

.exc {
    border: none;
    padding: 5px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 13px;
    background-color: red;
    color: white;
}

.edit {
    background-color: #0c96ff;
    color: white;
}

.edit:hover {
    background-color: #0075d4;
}

.exc:hover {
    background-color: darkred;
}
